.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #444;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #44a08d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #093637;
  }

  .toast-container {
    position: fixed;
    top: 50px; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* Set the desired width of the toast container */
    box-sizing: border-box;
    z-index: 9999; /* Ensure the container is above other elements */
  }
  
  /* Style for Toastr error toast */
  .toast {
    background-color: #f44336; /* Set the desired background color for error toast */
    color: #fff; /* Set the desired text color for error toast */
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  