<div class="chat-container">
  <h1>Cosmos Chatbot</h1>
  <div *ngFor="let chat of chatHistory" class="chat-message">
    <p class="user">{{ chat.user }}</p>
    <ng-container *ngIf="chat.response">
      <div  class="response">
      <p *ngFor="let responsePart of chat.response.split('\n')">{{ responsePart }}</p>
    </div>
    </ng-container>
  </div>
</div>

<div class="user-input">
  <input [(ngModel)]="query" placeholder="Type your query here..." />
  <button (click)="sendQuery()">Send</button>
</div>
